services:
  postgres-product:
    image: postgres:15
    container_name: postgres-product
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: product_db
    volumes:
      - ./product-service/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "3001:3001"
    env_file:
      - ./product-service/.env
    depends_on:
      - postgres-product
